nav {
    /* 
        Un nav fuera de la pantalla, que desciende al estar en active. 
    */
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 2;
    transition: all 0.3s ease;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
}